:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;

    --nabar-height:34px;
    --header-height:120px;
    --header-with-search-height: calc(var(--header-height) - var(--nabar-height));
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
/* animation  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
/* modal */
.modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      animation: fadeIn  linear 0.1s;

}
.modal__overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.4);
} 
.modal__body {
    --growth-from:0.7;
    --growth-to:1;
     margin: auto;
     position: relative;
     z-index: 1;
     animation: growth linear 0.1s;
}
/* btn style */
.btn {
    background-color: #fff;
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--size-s {
     height: 32px;
     font-size: 12px;
     padding: 0 8px; 
}
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
.btn.btn--with-icon {

}