.header {
    height:var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar {
    display: flex;
    justify-content: space-between; 
}
.header__navbar-list {
     list-style: none;
     padding-left: 0;
     margin: 4px 0 0 0;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}
.header__navbar-item--has-notify:hover .header__notify {
       display: block;
}
.header__navbar-item,
.header__navbar-item-link {
      display: inline-block;
      font-size: 1.4rem;
      color: var(--white-color);
      text-decoration: none;
      font-weight: 300;
}
.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link {
     display: inline-flex;
     align-items: center;
     justify-content: center;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
     color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-item--separate::after {
        content: "";
        display:block;
        position: absolute;
        border-left: 1px solid #fb9086 ;
        height: 16px;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon {
    font-size: 1.8em;
    margin: 0 4px;
}
.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
.header__navbar-item-link {

}
/* header qr code */
.header__qr {
     background-color: var(--white-color);
     width: 186px;
     position: absolute;
     left: 0;
     top: 118%;
     padding: 8px;
     border-radius: 2px;
     display: none;
     animation:  fadeIn ease-in 0.2s;

}
.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.headee__qr-img {
    width: 100%;
}
.header__qr-apps {
     display: flex;
     justify-content: space-between;

}
.header__qr-link:nth-child(1) {
      margin-left: 11px;
}
.header__qr-link:nth-child(2) {
    margin-right: 11px;
}
.header__qr-download-img {
       height: 15px;
}
/* end qr code */
/* notify */
.header__notify {
     position: absolute;
     top: 118%;
     right: 0;
     width: 404px;
     background-color: var(--white-color);
     border: 1px solid #d3d3d3;
     cursor: default;
     transform-origin: calc(100% - 20px) top;
     animation: headerNotifyGrowth ease-out .2s;
     will-change: opacity, transform;
     display: none;
}
.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    top: -16px;
    right: 0;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
       transform: scale(0);
    }
    to {
        opacity: 1;
       transform: scale(1);
    }
}
.header__notify-header {
     height: 40px;
     background-color: var(--white-color);

}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list {
        padding-left: 0;
         
} 
.header__notify-item {
     display: flex;
}
.header__notify-item:hover {
    background-color:#f7f7f7;
}
.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
   
} 
.header__notify-img {
     width: 48px;
     object-fit: contain;
} 
.header__notify-info {
      margin-left: 12px;
} 
.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
    margin-top: 4px;
} 
.header__notify-name {
   display: block;
   font-size: 1.4rem;
   color: var(--text-color);
   font-weight: 400;
}
.header__notify-footer {
       display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
/* end notify */
/* begin:form of modal */
.auth-form {
        width: 500px;
        background-color: var(--white-color);
        border-radius: 5px;
        overflow: hidden;
}
.auth-form__container {
      padding: 0 32px;
}
.auth-form__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        margin-top: 10px;
}
.auth-form__heading {
       font-size: 2.2rem;
       font-weight: 400;
       color: var(--text-color);
}
.auth-form__switch-btn {
       font-size: 1.6rem;
       color: var(--primary-color);
       cursor: pointer;
}
.auth-form__form {
}
.auth-form-group {

}
.auth-form__input {
      width: 100%;
      height: 34px;
      margin-top: 16px;
      padding: 0 12px;
      font-size: 1.4rem;
      border: 1px solid var( --border-color);
      border-radius: 2px;
      outline: none;
}
.auth-form__input:focus {
         border-color: #888;
}
.auth-form__aside {
        margin-top: 18px;
}
.auth-form__policy-text {
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: center;
}
.auth-form__text-link {
        text-decoration: none;
        color: var(--primary-color);
}
.auth-form__controls {
    margin-top: 80px;
    display: flex;
     justify-content: flex-end;
}
.auth-form__controls-back {
     margin-right: 8px;
}
.auth-form__socials {
        background-color: #f5f5f5;
        padding: 16px 36px;
        display: flex;
        justify-content: space-between;
        margin-top: 22px;
}
.auth-form__socials-icon {
    font-size: 1.8rem;
    padding: 0 8px;
}
.auth-form__socials--facbook {
    color: var(--white-color);
    background-color: #3a5a98;
}
.auth-form__socials--facbook
.auth-form__socials-icon
 {
   color: var(--white-color);
}
.auth-form__socials--google {
    color: #666;
      background-color: var(--white-color);
}
.auth-form__socials-title {
    margin-top: 0 36px;
}
.auth-form__help {
     display: flex;
     justify-content: flex-end;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    border-left: 1px solid #eaeaea;
    height: 16px;
    margin: 0 14px ;
}
.auth-form__help-forgot {
     color: var(--primary-color);
}
/* end:form of modal */

/* begin:header with search */
.header-with-search {
         height: var(--header-with-search-height);
         display: flex;
         align-items: center;
         margin: 0 8px;
}
.header__logo {
        width: 200px;
}
.header__logo-img {
      width: 150px;
}
.header__seaech {
    display: flex;
    flex: 1;
    border-radius: 2px;
     background-color: var(--white-color);
     height: 40px;
     align-items: center;
}
.header__seaech-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
   
}
.header__seaech-input {
     
}
.header__seaech-select-label {
      font-size: 1.4rem;
      color: var(--text-color);
}
.header__seaech-select-icon {
      font-size: 1.4rem;
      color: #4a4a4a;
      margin: 0 16px 0 8px;
      position: relative;
      top: 1px;
}
.header__seaech-input {
   flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__cart {
    width: 150px;
    text-align: center;  
}
.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}
.header__seaech-btn {
        background-color: var(--primary-color);
        border: none;
        height: 34px;
        width: 60px;
        border-radius: 3px;
        margin-right: 3px;
        outline: none;
}
.header__seaech-btn:hover {
    cursor: pointer;
    background-color:#fb6445 ;
}
.header__seaech-btn-icon {
      font-size: 1.4rem;
      color: var(--white-color);
}
.header__seaech-select:hover .header__seaech-option {
    display: block;
}

.header__seaech-option {
      position: absolute;
      right: 0;
      top: 100%;
      width: 130px;
      list-style: none;
      box-shadow: 0 2px 1px #e0e0e0;
      padding-left: 0; 
      border-radius: 3px;
      display: none;
      animation: fadeIn ease-in 0.2s;
}
.header__seaech-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 16px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header__seaech-option-item:first-child{
         border-top-right-radius: 3px;
         border-top-left-radius: 3px;
}
.header__seaech-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__seaech-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    margin-top: 6px;
}
.header__seaech-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.header__seaech-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
     margin-left: 8px;
}
.header__seaech-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__seaech-option-item--active i
 {
     display: inline-block;
}